#
#	$HeadURL$
#	$Revision$
#	$Author: bluelovers$
#	$Date$
#	$Id$
#
# 	@author bluelovers
# 	@copyright 2010
#

Options All -Indexes

RewriteEngine On
#RewriteBase /

RewriteRule (.*) index.htm [G]
